!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge", http: { equiv: "X-UA-Compatible" } }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black" }
    %link{ rel: "icon", href: "#{site_url}/favicon.ico", type: "image/x-icon" }

    %link{ rel: "apple-touch-icon", href: "#{site_url}/apple-icon-57x57.png", sizes: "57x57" }
    %link{ rel: "apple-touch-icon", href: "#{site_url}/apple-icon-72x72.png", sizes: "72x72" }
    %link{ rel: "apple-touch-icon", href: "#{site_url}/apple-icon-114x114.png", sizes: "114x114" }
    %link{ rel: "apple-touch-icon", href: "#{site_url}/apple-icon-144x144.png", sizes: "144x144" }

    / Book Metadata
    = partial "metadata"

    %title= page_title
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "https://cdn.rawgit.com/CliffCloud/Leaflet.EasyButton/f3f3136bda3937aa813c80a1a6c8c921c6df06ed/src/easy-button.css"
  %body
    #main
      .nav-primary#nav-primary
        = partial "nav"
      .main-content{:class => page_classes }
        = yield
        - if current_page.data.catalogue
          = partial "page_header", :locals => { :entry => entry }
        - else
          = partial "page_header", :locals => { :entry => nil }
    = javascript_include_tag "application"
    / Google Analytics
    :javascript
      (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
              (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-8087223-1', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    / Google Analytics: to handle pdfs, docs, xls
    :javascript
      jQuery(document).ready(function($) {
          $("a[href$='pdf'],a[href$='rtf'],a[href$='doc'],a[href$='xls'],a[href*='bit.ly'],a[href$='csv'],a[href$='json'],a[href$='zip'],a[href$='ppt'],a[href*='epub'],a[href*='mobi']").each(function(index) {
              pdfLabel = $(this).attr('href');
              pdfOnClick = "ga('send', 'pageview','" + pdfLabel + "');";
              $(this).attr("onClick", pdfOnClick);
          });
      });
    / Google Analytics: to handle outbound links
    :javascript
      var trackOutboundLink = function(url) {
        ga('send', 'event', 'outbound', 'click', url, {
          'hitCallback': function () { document.location = url; }
        });
      }
