!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", http: { equiv: "X-UA-Compatible" }}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, max-scale=1, user-scalable=no" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black" }
    %title= current_page.data.title || "The Middleman"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"
    = stylesheet_link_tag "https://cdn.rawgit.com/CliffCloud/Leaflet.EasyButton/f3f3136bda3937aa813c80a1a6c8c921c6df06ed/src/easy-button.css"

  %body
    #main
      .nav-primary#nav-primary
        = partial "nav"
      %a.nav-primary__trigger.no-smoothState#off-canvas-toggle
        %i.ion-navicon.mr2.mt1
      .page-content
        = yield
    = javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js", |
      "https://code.jquery.com/jquery-2.1.1.min.js", "application"
