!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge", http: { equiv: "X-UA-Compatible" } }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black" }
    %link{ rel: "icon", href: "#{site_url}/favicon.ico", type: "image/x-icon" }

    %link{ rel: "apple-touch-icon", href: "#{site_url}/apple-icon-57x57.png", sizes: "57x57" }
    %link{ rel: "apple-touch-icon", href: "#{site_url}/apple-icon-72x72.png", sizes: "72x72" }
    %link{ rel: "apple-touch-icon", href: "#{site_url}/apple-icon-114x114.png", sizes: "114x114" }
    %link{ rel: "apple-touch-icon", href: "#{site_url}/apple-icon-144x144.png", sizes: "144x144" }

    / Book Metadata
    = partial "metadata"

    %title= page_title
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "https://cdn.rawgit.com/CliffCloud/Leaflet.EasyButton/f3f3136bda3937aa813c80a1a6c8c921c6df06ed/src/easy-button.css"

  %body
    #beta-banner.no-print
      %p
        This publication is still under active development.
        Final version will be released in January 2016.
    #main
      .nav-primary#nav-primary
        = partial "nav"
      .main-content{:class => page_classes }
        = yield
        - if current_page.data.catalogue
          = partial "page_header", :locals => { :entry => entry }
        - else
          = partial "page_header", :locals => { :entry => nil }
    = javascript_include_tag "application"
