!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport",  |
      content: "width=device-width, initial-scale=1, max-scale=1, user-scalable=no"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}
    %title= current_page.data.title || "The Middleman"
    = stylesheet_link_tag "application"
    %link{href: "http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css", rel: "stylesheet"}


  %body
    #nav-primary.nav-primary
      = partial "nav"
    %a.nav-primary__trigger.no-smoothState#off-canvas-toggle
      %i.ion-navicon.mr2.mt1
    #main.page-content
      = yield
    = javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js", |
      "https://code.jquery.com/jquery-2.1.1.min.js", "application"
