= wrap_layout :application do
  .cover
  .cover-inner
    %h1.cover-title= current_page.data.title
    %h2.cover-subtitle= current_page.data.subtitle
    %h2.cover-author Maria Lucia Ferruzza
  .cover-copy
    .cover-copy-inner
      = yield
      -# %h4.mt3.mb2
      -#   = link_to "Director's Foreword", "#"
      -# %h4.mb3
      -#   = link_to "Introduction", "#{site_url}/frontmatter/introduction"
  .cover-explore
    %h2.centered.mt3 Highlights from the Catalogue
    = partial(:grid,
      :locals => { :collection => find_in_catalogue("featured", true) })
    = link_to "View the Catalogue", "#{site_url}/catalogue", :class => "button"
  .cover-map
    #map.no-scroll
    .cover-map-inner
      = link_to "View Full Map", "#{site_url}/frontmatter/map", :class => "button"
  .cover-colophon
    .cover-colophon-inner
      %p= lorem.paragraph
      %p= lorem.paragraph
      .colophon-logo
        = tag :img, :src => image_path("getty_logo.svg"), :alt => "Getty Logo"
