= wrap_layout :application do
  .cover
  .cover-inner
    %h1.cover-title= current_page.data.title
    %h2.cover-subtitle
      From South Italy and Sicily
      %br
      In the J. Paul Getty Museum
    %h2.cover-author Maria Lucia Ferruzza
  .cover-copy
    .cover-copy-inner
      = yield
  .cover-map
    #map.no-scroll
    .cover-map-inner
      = link_to "View Full Map", "#{site_url}/map/", :class => "button"
  .cover-explore
    %h2.centered Highlights from the Catalogue
    = partial(:feature_grid,
      :locals => { :collection => find_in_catalogue(:meta, :featured, true) })
    = link_to "View the Catalogue", "#{site_url}/catalogue/", :class => "button"
  .cover-colophon.mt3
    .cover-colophon-inner
      .colophon-text
        :markdown
          **Online collection catalogue published by the J. Paul Getty Museum,
          <br />
          and licensed under a [Creative Commons Attribution 4.0 International License](http://creativecommons.org/licenses/by/4.0/){:rel="license"}**
          <br />
          [About](#{site_url}/about/)
          | [Privacy Policy](http://www.getty.edu/legal/privacy.html){:target="blank"}
          | [Terms of Use](http://www.getty.edu/legal/copyright.html){:target="blank"}
      .colophon-logo
        = tag :img, :src => image_path("getty_logo.svg"), :alt => "Getty Logo"
