= wrap_layout :application do
  .cover
  .cover-inner
    %h1.cover-title= current_page.data.title
    %h2.cover-subtitle= current_page.data.subtitle
    %h2.cover-author Maria Lucia Ferruzza
  .container.cover-content
    .explore
      %h2.centered Explore the Collection
      = partial(:grid, :locals => { :collection => find_in_catalogue("featured", true) })
  = partial "footer"
