= wrap_layout :panels do
  - catalogue = data.terracottas
  - current_item = catalogue.find { |item| item[:cat] == current_page.data.cat }
  - if current_item.cat
    %article
      - object_data(current_item.cat)
      .object-header
        %h2.object-meta= current_item.cat.to_s
        %h1.object-title= current_page.data.title
        %h3.object-meta= current_item.date
      .object-content
        = partial(:object_details, :locals => { :current_item => current_item })
        - if current_page.data.fabric
          -# Fabric
          .object-content-section.expander
            %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
              %h3.pb1.mt1 Fabric
            .expander-content
              = markdown(current_page.data.fabric)
        - if current_page.data.condition
          -# Condition
          .object-content-section.expander
            %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
              %h3.pb1.mt1 Condition
            .expander-content
              = markdown(current_page.data.condition)
        - if current_page.data.provenance
          -# Provenance
          .object-content-section.expander
            %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
              %h3.pb1.mt1 Provenance
            .expander-content
              = markdown(current_page.data.provenance)
        - if current_page.data.bibliography
          -# Bibliography
          .object-content-section.expander
            %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
              %h3.pb1.mt1 Bibliography
            .expander-content
              = markdown(current_page.data.bibliography)
        / Description
        .object-content-section.expander
          %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
            %h3.pb1.mt1 Description
          .expander-content
            = yield
        / Discussion
        - unless find_discussion(current_item.cat).nil?
          - essay = discussion_text(current_item.cat)
          .object-content-section.expander
            %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
              %h3.pb1.mt1= essay[:title]
            .expander-content
              = essay[:text]
