= wrap_layout :panels do
  - current_item = data.terracottas.select { |item| item[:cat] == current_page.data.cat}.first
  %article
    .object__header
      %h2.object__meta.mt2= current_item.cat.to_s unless current_item.cat.nil?
      %h1.object__title.mt1.mb3= current_page.data.title
      %h3.object__meta.mt2.mb3= current_item.date unless current_item.date.nil?
    .object__content.mt2
      .object__content__section.expander
        %a{:href => "javascript:void(0);", |
          :class => "expander__trigger expander--hidden"}
          %h3.pb1.mt1 Object Information
        .expander__content
          %table.object__info
            %tbody
              %tr
                %td 
                  %strong Catalogue Number 
                %td
                  %strong= current_item.cat unless current_item.acc.nil?
              %tr
                %td Inventory Number 
                %td= current_item.acc unless current_item.acc.nil?
              %tr
                %td Typology 
                %td= current_item.typology || "Statue"
              %tr
                %td Grouping
                %td= current_item.group unless current_item.group.nil?
              %tr
                %td Region
                %td
                  %span= current_item.region
                  %span= ", #{current_item.city}" unless current_item.city.nil?
              %tr 
                %td 
                  %strong Dimensions
                %td 
              - current_item.dimensions.each do |dimension|
                %tr
                  %td.pr2= "#{dimension.desc}:" unless dimension.desc.nil?
                  %td.pr2= "Width: #{dimension.width}, Height: #{dimension.height}, Depth: #{dimension.depth}"

      .object__content__section.expander
        %a{:href => "javascript:void(0);", | 
          :class => "expander__trigger expander--hidden"}
          %h3.pb1.mt1 Fabric
        .expander__content
          %p= current_page.data.fabric
      .object__content__section.expander
        %a{:href => "javascript:void(0);", | 
          :class => "expander__trigger expander--hidden"}
          %h3.pb1.mt1 Condition
        .expander__content
          %p= current_page.data.condition
      .object__content__section.expander
        %a{:href => "javascript:void(0);", |
          :class => "expander__trigger expander--hidden"}
          %h3.pb1.mt1 Provenance
        .expander__content
          %p= current_item.provenance unless current_item.nil?
      .object__content__section.expander
        %a{:href => "javascript:void(0);", | 
          :class => "expander__trigger expander--hidden"}
          %h3.pb1.mt1 Bibliography
        .expander__content
          %p= current_page.data.bibliography
      .object__content__section.expander
        %a{:href => "javascript:void(0);", |
          :class => "expander__trigger expander--hidden"}
          %h3.pb1.mt1 Description
        .expander__content
          = yield



/ - current_item.dimensions.each do |dimension|
/   %li
/     %span= "#{dimension.desc}:" unless dimension.desc.nil?
/     %br
/     %span.pl1= "W: #{dimension.width}" unless dimension.width.nil?
/     %span.pl1= "H: #{dimension.height}" unless dimension.height.nil?
/     %span.pl1= "D: #{dimension.depth}" unless dimension.depth.nil?
