= wrap_layout :application do
  - if current_page.data.cover?
    .page-cover{ :style => "background-image: url(#{image_path(current_page.data.cover)}.jpg)"}
    .container
      .page-content.pb4#content
        %h1.page-title= current_page.data.title
        = yield
  - else
    .container
      %h1.page-title= current_page.data.title
      .page-content.pb4
        = yield
