= wrap_layout :application do
  .container
    %h1.page-title= current_page.data.title
    .page-content.pb4
      - if current_page.data.group
        = partial(:selection_grid, :locals => {:key => "group", :value => current_page.data.group})
        .pb4
      = yield
  = partial "footer"
