= wrap_layout :application do
  - catalogue = data.terracottas
  - if current_page.data.cat
    - current_item = catalogue.select { |item| item[:cat] == current_page.data.cat}.first

  .panel.panel--left
    .panel__header--overlay.p1
      .panel__header__left
      .panel__header__center
      .panel__header__right
        %a.no-smoothState{:id => 'leftPanelToggle'}
          %i.ion-arrow-expand.h2.ml2.mt1
    .panel__inner
      #map

  .panel.panel--right
    - if current_item.nil?
      .panel__header.pt1.pb2
        .panel__header__left
          %a.no-smoothState{:id => 'rightPanelToggle'}
            %i.ion-arrow-expand.h2.ml2.mt1
        .panel__header__center
          %h4.mt2.h6= site_title
        .panel__header__right
          %a
            %i.ion-navicon-round.h2.mr2.mt1
      .panel__inner
        = yield

    - else
      .panel__header.pt1.pb2
        .panel__header__left
          %a{:href => "/collection"}
            %i.ion-grid.h2.ml2.mt1
        .panel__header__center
          %h4.mt2.h6= site_title
        .panel__header__right
          %a
            %i.ion-navicon-round.h2.mr2.mt1
      .panel__inner
        = yield

/%a{:id => 'rightPanelToggle'}
/%i.ion-arrow-expand.h2.ml2.mt1
