- path = current_path.gsub("index.html", "")

.expander
  %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
    %h5
      %i.ion-bookmark.mr2
      Cite this Page
  .expander-content.toc-cite
    - if current_page.data.catalogue
      / Page is catalogue entry
      - entry = current_page.metadata[:locals][:entry]
      %h6 Chicago
      %p
        #{data.book.author_last_name}, #{data.book.author_first_name}.
        “Cat. #{entry[:info][:cat]}: #{entry[:info][:title]}.” In
        <em>#{data.book.title}</em>, by #{data.book.author_full_name}.
        #{data.book.publisher_location}:
        #{data.book.publisher}, #{data.book.publication_year}.
        <span class='force-wrap'>#{data.book.permalink}#{path}</span>
      %h6 MLA
      %p
        #{data.book.author_last_name}, #{data.book.author_first_name}.
        “Cat. #{entry[:info][:cat]}: #{entry[:info][:title]}.”
        <em>#{data.book.title}</em>. By #{data.book.author_full_name}.
        #{data.book.publisher_location}:
        #{data.book.publisher_short}, #{data.book.publication_year}.
        <span class="cite-current-date">DD Mon. YYYY</span>
        <<span class='force-wrap'>#{data.book.permalink}#{path}</span>>.
    - elsif current_page.data.author_first_name
      / Page has author
      %h6 Chicago
      %p
        #{current_page.data.author_last_name}, #{current_page.data.author_first_name}.
        “#{current_page.data.title}.” In <em>#{data.book.title}</em>,
        by #{data.book.author_full_name}. #{data.book.publisher_location}:
        #{data.book.publisher}, #{data.book.publication_year}.
        <span class='force-wrap'>#{data.book.permalink}#{path}</span>
      %h6 MLA
      %p
        #{current_page.data.author_last_name}, #{current_page.data.author_first_name}.
        “#{current_page.data.title}.” <em>#{data.book.title}</em>.
        By #{data.book.author_full_name}. #{data.book.publisher_location}:
        #{data.book.publisher_short}, #{data.book.publication_year}.
        <span class="cite-current-date">DD Mon. YYYY</span>
        <<span class='force-wrap'>#{data.book.permalink}#{path}</span>>.
    - else
      / All other pages
      %h6 Chicago
      %p
        #{data.book.author_last_name}, #{data.book.author_first_name}.
        “#{current_page.data.title}” In <em>#{data.book.title}</em>,
        by #{data.book.author_full_name}. #{data.book.publisher_location}:
        #{data.book.publisher}, #{data.book.publication_year}.
        <span class='force-wrap'>#{data.book.permalink}#{path}</span>
      %h6 MLA
      %p
        #{data.book.author_last_name}, #{data.book.author_first_name}.
        “#{current_page.data.title}.” <em>#{data.book.title}</em>.
        By #{data.book.author_full_name}. #{data.book.publisher_location}:
        #{data.book.publisher_short}, #{data.book.publication_year}.
        <span class="cite-current-date">DD Mon. YYYY</span>
        <<span class='force-wrap'>#{data.book.permalink}#{path}</span>>.
    = link_to "Full Catalogue Citation", "#{site_url}/about/#citation-information"
