- download_path = "assets/downloads/AncientTerracottas_Ferruzza"
- store_url = "http://shop.getty.edu/products/ancient-terracottas-from-south-italy-and-sicily-in-the-j-paul-getty-museum-978-1606064863"
.expander
  %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
    %h5
      %i.ion-archive.mr1
      Downloads
  .expander-content.nav-downloads
    %h6 Complete Catalogue
    %ul
      %li
        = link_to "PDF", "#{site_url}/#{download_path}.pdf", :target => "blank"
        %span (## MB)
      %li
        = link_to "EPUB", "#{site_url}/#{download_path}.epub"
        %span (## MB)
      %li
        = link_to "MOBI/KINDLE", "#{site_url}/#{download_path}.mobi"
        %span (35 MB)
      %li
        = link_to "Print on Demand", "#{store_url}"
    %h6 Catalogue Main Images
    %ul
      %li
        = link_to "JPG", "#{site_url}/#{download_path}_Images.zip"
        %span (21 MB)
      %li
        = link_to "PPT", "#{site_url}/#{download_path}_Images.ppt"
        %span (11 MB)
    %h6 Object Data
    %ul
      %li
        = link_to "CSV Catalogue", "#{site_url}/#{download_path}_Data.csv"
        \|
        = link_to "Extended", "#{site_url}/#{download_path}_Data_Extended.csv"
      %li
        = link_to "JSON Catalogue", "#{site_url}/#{download_path}_Data.json"
        \|
        = link_to "Extended", "#{site_url}/#{download_path}_Data_Extended.json"
    = link_to "More Information", "#{site_url}/about/#downloads"
