.grid.grid--gutters
  - collection = data.terracottas if collection.nil?
  - collection.each do |object|
    .grid-cell.grid-cell--1of2.grid-cell-med--1of3.grid-cell-large--1of3
      = link_to "#{site_url}/catalogue/#{object.cat}" do
        .card{ :data => { :catalogue => object.cat.to_s,
                          :typology  => object.typology,
                          :region    => object.region,
                          :group     => object.group },
               :style => "background-image: url(#{image_path(object.acc)}.jpg)"}
          %h5.card-title
            = "#{object.cat}. #{object.title}"
