%a.menu-close-trigger.no-smoothState
  %i.ion-ios-close-empty.pr1.mr2.mt1
%ul.toc
  %li
    %h3.toc-title.mb1
      =link_to data.book.short_title || data.book.title, "#{site_url}/"
    %h4.toc-entry-author.mb3= data.book.author
  %li.toc-section
    %h4
      =link_to "Table of Contents", "#{site_url}/frontmatter/contents"
  %li.toc-section
    %h3.pt1
      =link_to "Catalogue", "#{site_url}/catalogue"
  %li.toc-section
    =link_to "#{site_url}/frontmatter/downloads" do
      %i.ion-archive.mr1
      %span Download
    %br
    =link_to "#{site_url}/frontmatter/cite" do
      %i.ion-bookmark.mr2
      %span Cite
  %li
    %h4
      =link_to "Guide to the Collection", "#"
    %h5.toc-entry-author.mb3 Claire L. Lyons
  %li.toc-logo
    = tag :img,
      src: image_path("getty_logo.svg"), class: "toc-logo", alt: "Getty Logo"
