%a.menu-close-trigger.no-smoothState{:href => "javascript:void(0);" }
  %i.ion-ios-close-empty.pr1.mr2.mt1
%ul.nav
  %li
    %h3.nav-title.mb1
      =link_to data.book.title.short, "#{site_url}/"
    - author = data.book.creators.first
    %h4.nav-entry-author.mb3= "#{author.first_name} #{author.last_name}"
  %li.nav-section
    %h4
      =link_to "Contents", "#{site_url}/contents/"
  %li.nav-section
    %h3.pt1
      =link_to "Catalogue", "#{site_url}/catalogue/"
  %li.nav-section.pt1
    = partial "downloads"
    = partial "cite"
  %li.nav-section
    %h4
      =link_to "Guide to the Collection", "#{site_url}/guide/"
    %h5.nav-entry-author.mb1 Claire L. Lyons
  %li.nav-section
    .nav-info
      :markdown
        Online collection catalogue published by the J. Paul Getty Museum, and licensed under a [Creative Commons Attribution 4.0 International License](http://creativecommons.org/licenses/by/4.0/){:rel="license"}
        <br /><br />
        [About](#{site_url}/about/)
        | [Privacy](http://www.getty.edu/legal/privacy.html){:target="blank"}
        | [Terms of Use](http://www.getty.edu/legal/copyright.html){:target="blank"}
  %li.nav-logo
    = tag :img,
      src: image_path("getty_logo.svg"), class: "nav-logo", alt: "Getty Logo"
