/ Object Details table (expandible section)
.object-content-section.expander
  %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
    %h3.pb1.mt1 Object Details
  .expander-content
    %table.object-info
      %tbody
        - if current_item.cat
          -# Catalogue Number
          %tr
            %td
              %strong Catalogue Number
            %td
              %strong= current_item.cat
        - if current_item.acc
          -# Accession Number
          %tr
            %td Inventory Number
            %td= current_item.acc
        - if current_item.typology
          -# Typology
          %tr
            %td Typology
            %td= current_item.typology || "Statue"
        - if current_item.group
          -# Grouping
          %tr
            %td= "Grouping"
            %td
              - if current_item.group == "Group of a Seated Poet and Sirens"
                =link_to current_item.group, "#{site_url}/discussion/discussion-a"
              - else
                = current_item.group
        - if current_item.region
          -# Region
          %tr
            %td Region
            %td
              - region_path = current_item.region.downcase.tr(" ", "-")
              = link_to current_item.region, "#{site_url}/catalogue/#{region_path}"
              %span
                = ", #{current_item.city}" unless current_item.city.nil?
        - if current_item.dimensions
          -# Dimensions table
          %tr
            %td
              %strong Dimensions
            %td
          - current_item.dimensions.each do |dimension|
            - dimension.each_pair do |key, value|
              %tr
                - if key == "desc"
                  %td.pr2{ :colspan => 2 }= value.capitalize
                - else
                  %td.pr2= key.capitalize
                  %td.pr2= value.capitalize
