-# Expects entry variable to be passed in from parent
.object-content-section.expander
  %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
    %h3.pb1.mt1 Object Details
  .expander-content
    %table.object-info
      %tbody
        %tr
          %td
            %strong Catalogue Number
          %td
            %strong= entry[:info][:cat]
        %tr
          %td Inventory Number
          %td
            %span= entry[:info][:acc]
            - collection_link(entry[:info][:dor_id])
        %tr
          %td Typology
          %td= entry[:info][:typology] || nil
        %tr
          %td Location
          %td= entry[:info][:location]
        - if entry[:info][:dimensions].length == 1
          %tr
            %td Dimensions
            %td= entry[:info][:dimensions].first["desc"]
        - if entry[:info][:dimensions].length > 1
          %tr
            %td Dimensions
          - entry[:info][:dimensions].each do |dimension|
            - dimension.each_value do |value|
              %tr
                %td.pr2{:colspan => 2}= value
