- current_page.data.layout == "cover" ? header_class = "page-header--hidden" : header_class = nil
%nav.page-header{class: header_class }
  .page-header-left
    %a.no-smoothState#search{:href => "javascript:void(0)" }
      %i.ion-search
  .page-header-center
    - if entry
      - prev_entry(entry.info.cat)
      = link_to "#{site_title}", "#{site_url}/"
      %i.ion-android-arrow-dropright.ml1.mr1.hide-on-mobile
      = link_to "Catalogue", "#{site_url}/catalogue/", class: "hide-on-mobile"
      %i.ion-android-arrow-dropright.ml1.mr1.hide-on-mobile
      %span.hide-on-mobile= "#{entry[:info][:cat]}"
      - next_entry(entry.info.cat)
    - elsif current_page.data.layout == "cover"
      %span.hide-on-mobile= current_page.data.title
      - next_page(current_page.data.sort_order)
    - elsif current_page.data.objects
      = link_to "#{site_title}", "#{site_url}/"
    - elsif current_page.data.title
      - prev_page(current_page.data.sort_order)
      = link_to "#{site_title}", "#{site_url}/"
      %i.ion-android-arrow-dropright.ml1.mr1.hide-on-mobile
      %span.hide-on-mobile= current_page.data.title
      - next_page(current_page.data.sort_order)
  .page-header-right
    %a.nav-primary-trigger.no-smoothState#off-canvas-toggle{ :href => "javascript:void(0);" }
      %i.ion-navicon
  .search-input
    %input#search-field{ :placeholder => "search", :name => "search" }
    %a.no-smoothState.search-close#search-close
      %i.ion-close
%ul.search-results
  = partial "results"
