%nav.page-header
  .page-header-left
    %a.no-smoothState#search
      %i.ion-search
  .page-header-center
    - if entry
      - prev_entry(entry.info.cat)
      = link_to "#{site_title}", "#{site_url}/contents/"
      %i.ion-ios-arrow-right.ml1.mr1.hide-on-mobile
      = link_to "Catalogue", "#{site_url}/catalogue/", class: "hide-on-mobile"
      %i.ion-ios-arrow-right.ml1.mr1.hide-on-mobile
      %span.hide-on-mobile= "#{entry[:info][:cat]}"
      - next_entry(entry.info.cat)
    - elsif current_page.data.title
      - prev_page(current_page.data.sort_order)
      = link_to "#{site_title}", "#{site_url}/contents/"
      %i.ion-ios-arrow-right.ml1.mr1.hide-on-mobile
      %span.hide-on-mobile= current_page.data.title
      - next_page(current_page.data.sort_order)
    - elsif current_page.data.layout == "cover"
      %span.hide-on-mobile= current_page.data.title
  .page-header-right
    %a.nav-primary-trigger.no-smoothState#off-canvas-toggle
      %i.ion-navicon
  .search-input
    %input#search-field{ :placeholder => "search", :name => "search" }
    %a.no-smoothState.search-close#search-close
      %i.ion-close
%ul.search-results
  = partial "results"
