---
title: Contents
layout: application
sort_order: 1
pdf_output: false
---
.copyright-page.print-only
  :markdown
    ##### Copyright Information
    © 2016 J. Paul Getty Trust

    ###### Published by the J. Paul Getty Museum, Los Angeles
    Getty Publications
    1200 Getty Center Drive, Suite 500
    Los Angeles, California 90049-1682
    [www.getty.edu/publications](http://www.getty.edu/publications)

    Ruth Evans Lane, Benedicte Gilman, and Marina Belozerskaya, *Project Editors*
    TK, *Translator*
    Greg Albers, Eric Gardner, and Stephanie Grimes, *Digital Development*
    Elizabeth Chapin Kahn, *Production*

    Library of Congress Cataloging-in-Publication Data TK

    Illustration Credits TK
.table-of-contents
  .container
    .page-content.pb4
      %h1.page-title.centered= current_page.data.title
      - pages       = sitemap.resources.find_all { |p| p.data.sort_order }
      - pages.sort_by! { |p| p.data.sort_order }
      .no-print
        - pages.each do |p|
          - next if p.data.title == "Contents" || p.data.title == "Index"
          - if p.data.layout == "cover"
            = link_to "#{site_url}#{p.url}" do
              %h4 Cover
            %hr
          - elsif p.data.title == "Catalogue"
            %hr
            = link_to "#{site_url}#{p.url}" do
              %h4= p.data.title
            :markdown
              [Taranto Region](../catalogue/1/) | [Cat. 1–37](../catalogue/1/)
              [Canosa](../catalogue/38/) | [Cat. 38–46](../catalogue/38/)
              [Medma](../catalogue/47/) | [Cat. 47–48](../catalogue/47/)
              [Other South Italy](../catalogue/49/) | [Cat. 49–50](../catalogue/49/)
              [Sicily](../catalogue/51/) | [Cat. 51–60](../catalogue/51/)
              {: .toc-regions }
          - elsif p.data.author_full_name
            = link_to "#{site_url}#{p.url}" do
              %h4= p.data.title
            %h6.toc_author= p.data.author_full_name
            %hr
          - else
            = link_to "#{site_url}#{p.url}" do
              %h4= p.data.title
      .print-only
        %ul
          - pages.each do |p|
            - if p.data.layout == "map" || p.data.layout == "cover" || p.data.title == "Contents"
              - next
            - elsif p.data.title == "Catalogue"
              %li
                = link_to p.data.title, "../print-catalogue/1/index.html"
                :markdown
                  Taranto Region | Cat. 1–37
                  Canosa | Cat. 38–46
                  Medma | Cat. 47–48
                  Other South Italy | Cat. 49–50
                  Sicily | Cat. 51–60
                  {: .toc-regions }
            - elsif p.data.author_full_name
              %li
                = link_to p.data.title, "../#{p.destination_path}"
                %p= p.data.author_full_name
            - else
              %li
                = link_to p.data.title, "../#{p.destination_path}"
