---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/styles/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="foreword" id="foreword">
      <% foreword = sitemap.find_resource_by_path("foreword.html") %>
      <h1 class="page-title">
        <%= foreword.data.title %>
      </h1>
      <h3 class="page-author">
        <%= foreword.data.author_full_name %>
      </h3>
      <article>
        <%= foreword.render(:layout => false ) %>
      </article>
    </section>

    <section class="acknowledgments" id="acknowledgments">
      <% acknowledgments = sitemap.find_resource_by_path("acknowledgments.html") %>
      <h1 class="page-title">
        <%= acknowledgments.data.title %>
      </h1>
      <article>
        <%= acknowledgments.render(:layout => false ) %>
      </article>
      <div class="bleed"></div>
    </section>
    <div class="introduction" id="introduction">
      <% introduction = sitemap.find_resource_by_path("introduction.html") %>
      <h1 class="page-title">
        <%= introduction.data.title %>
      </h1>
      <article>
        <%= introduction.render(:layout => false ) %>
      </article>
    </div>
    <section class="classification" id="classification">
      <% classification = sitemap.find_resource_by_path("classification.html") %>
      <h1 class="page-title">
        <%= classification.data.title %>
      </h1>
      <article>
        <%= classification.render(:layout => false ) %>
      </article>
    </section>
    <section class="production_techniques" id="production_techniques">
      <% production_techniques = sitemap.find_resource_by_path("production_techniques.html") %>
      <h1 class="page-title">
        <%= production_techniques.data.title %>
      </h1>
      <article>
        <%= production_techniques.render(:layout => false ) %>
      </article>
    </section>
    <section class="map" id="map"></section>
    <section class="catalogue" id="catalogue"></section>

  </body>
</html>
