---
title: Guide to the Collection of South Italian and Sicilian Terracottas
author_first_name: Claire L
author_last_name: Lyons
author_full_name: Claire L. Lyons
cover: 75.AD.45_detail
layout: page
sort_order: 100
csv: "assets/downloads/AncientTerracottas_Ferruzza_Data_Extended.csv"
json: "assets/downloads/AncientTerracottas_Ferruzza_Data_Extended.json"
---
The following guide to the entire collection of terracottas from
southern Italy and Sicily in the collection of the J. Paul Getty Museum
is intended as a supplement to *Ancient Terracottas from South Italy and
Sicily in the J. Paul Getty Museum*. In addition to the sixty objects
studied in depth by Maria Lucia Ferruzza, the museum holds a quantity of
statuettes, sculptures, and artifacts that have not been closely
analyzed; many remain largely unpublished. Spanning the centuries
between 5000 <span class="smcaps">BC</span> and the second century
<span class="smcaps">AD</span>, small numbers of Neolithic,
Mycenaean, Cypriote, Greek (Boeotian and Tanagra), East Greek (Rhodian,
Samian, and Mysian), Etruscan, Romano-Egyptian, and Roman figurines were
acquired individually. By far the largest group of terracottas, however,
consists of votive dedications from sanctuaries and cemeteries in
Puglia, Lucania, Calabria, Campania, and Sicily. Most were donations
received in the 1970s and 1980s and destined to form a study collection.

With the aim of facilitating further research on this material, this
index provides links to over 1,000 terracottas. Two major lots consist
of fragmentary figures that can be associated with Taranto and
Metaponto, while a third lot and other individual pieces are more
generally identified with workshops in southern Italy. Although the lack
of documentation makes it difficult to ascertain whether some extraneous
objects were mixed in with these lots, the repetition of types and the
consistency of the fabric suggest that these assemblages were found
together in votive deposits. The focus of *Ancient Terracottas* is
extended here in two key areas. This guide includes several female heads
from a mold series known in Capua, as well as a significant group of
statuettes likely to have come from Teano, which reflect the links between
Campania and production centers in Magna Graecia and Latium. Important
for any study of the rich coroplastic traditions of the Italian
peninsula is the series of thirty-nine molds, mainly made in Taranto,
four of which are inscribed with the coroplast’s name or monogram.

The collection of portable, mass-produced terracottas, including Canosan
figural vessel appliqués (but excluding lamps, plastic vases, and
architectural sculpture), is indexed below according to the region of
origin. Inventory numbers are linked to the Museum’s online collection
pages
([www.getty.edu/art/collection/](http://www.getty.edu/art/collection/)),
where readers can access additional data on specific objects. The brief
descriptions below are based on the information supplied at the time of
acquisition, from publications, and more recent observations.

<div class="about no-print">
  <blockquote markdown="0">
    <h4>
      Download
      <%= link_to "CSV", "#{site_url}/#{current_page.data.csv}", :target => "blank" %> |
      <%= link_to "JSON", "#{site_url}/#{current_page.data.json}", :target => "blank" %>
    </h4>
    <p>
      Available for further research and study, this extended dataset includes
      information on the 60 catalogue objects and 1,000 additional collection objects
      outlined below. It is current to the date of publication.
    </p>
  </blockquote>
</div>

---

### Taranto

-   <figure markdown="0" class="inline-figure" id="fig_01">
      <img src='<%= image_path("guide/71.AD.311.jpg") %>' alt="71.AD.311" />
      <figcaption>Figure 1: 71.AD.311, 9.7 x 10.7 cm</figcaption>
    </figure>
    [**71.AD.311** <i></i>{:class="ion-link"}][6766]{:target="blank"} ([fig. 1](#fig_01)):
    Banqueting couple; late fourth–third century <span class="smcaps">BC</span>. See
    <span class="smcaps">Kingsley 1976</span>, p. 6, no. 10, fig. 10; and B. M.
    Kingsley, “The Reclining Heroes of Taras and Their Cult,”
    *California Studies in Classical Antiquity* 12 (1979), p. 205, n. 75.
-   <figure markdown="0" class="inline-figure" id="fig_02">
      <img src='<%= image_path("guide/71.AD.339.jpg") %>' alt="71.AD.339" />
      <figcaption>Figure 2: 71.AD.339, H: 9.7 x 10.7 cm</figcaption>
    </figure>
    [**71.AD.339** <i></i>{:class="ion-link"}][6792]{:target="blank"} ([fig. 2](#fig_02)):
    Crouching satyr with protruding ears, looking upward with his right hand on
    his chest; early fourth century <span class="smcaps">BC</span>. See Alex G. Malloy, *Ancient Art and Antiquities* (1971), vol. 1, pp. 12, 16, no. 91.
-   <figure markdown="0" class="inline-figure" id="fig_03">
      <img src='<%= image_path("guide/75.AD.36.jpg") %>' alt="75.AD.36" />
      <figcaption>Figure 3: 75.AD.36, H: 16.8 cm</figcaption>
    </figure>
    [**75.AD.36** <i></i>{:class="ion-link"}][7211]{:target="blank"} ([fig. 3](#fig_03)): Seated
    woman, headless, from a banquet group, with a vertical tang to hold the
    figure upright; fourth century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976</span>, p.6, no. 7, pl. 7.
-   <figure markdown="0" class="inline-figure" id="fig_04">
      <img src='<%= image_path("guide/75.AD.37.jpg") %>' alt="75.AD.37" />
      <figcaption>Figure 4: 75.AD.37, H: 17.5 cm</figcaption>
    </figure>
    [**75.AD.37** <i></i>{:class="ion-link"}][7212]{:target="blank"} ([fig. 4](#fig_04)): Male
    banqueter, bearded, reclining and holding a cup, with a vertical tang to
    hold the figure upright; fifth century <span class="smcaps">BC</span>. See
    <span class="smcaps">Kingsley 1976</span>, p. 5, no. 4, pl. 4.
-   <figure markdown="0" class="inline-figure" id="fig_05">
      <img src='<%= image_path("guide/75.AD.40_group.jpg") %>' alt="75.AD.40" />
      <figcaption>Figure 5 (clockwise from top left): 75.AD.40.H.2; 75.AD.40.A.1; 75.AD.40.N.5; 75.AD.40.I.14; 75.AD.40.I.19. The largest object, 75.AD.40.I.14, is 8.8 cm high.</figcaption>
    </figure>
    [**75.AD.40.A.1–75.AD.40.O.7** <i></i>{:class="ion-link"}][search-75AD40]{:target="blank"}
    ([fig. 5](#fig_05)): Group of 90 small heads of women wearing floral
    crowns, averaging 2 cm in height. Most are broken off at the neck,
    and the facial features are worn. One figure (75.AD.40.I.14) has a
    disc/phiale at her left shoulder; three statuettes of women bearing a
    torch (75.AD.40.I.6, 75.AD.40.J.1, 75.AD.40.J.2); fourth century <span class="smcaps">BC</span>. Gift of Fred and Virginia M. Bromberg, Bay Shores, NY.
-   <figure markdown="0" class="inline-figure" id="fig_06">
      <img src='<%= image_path("guide/78.AD.271.4_reference.jpg") %>' alt="78.AD.271.4" />
      <figcaption>Figure 6: 78.AD.271.4 (reference image), 10.2 x 8.2 cm</figcaption>
    </figure>
    [**78.AD.271.4** <i></i>{:class="ion-link"}][8222]{:target="blank"} ([fig. 6](#fig_06)):
    Naked youth, often identified as the hero Taras, with
    drapery flying behind, riding a dolphin across waves. The figure is
    supported on a cylindrical base, and the head of the youth and tail
    of the dolphin are missing; fourth–third century <span class="smcaps">BC</span>. Gift of Gordon McClendon.
-   <figure markdown="0" class="inline-figure" id="fig_07">
      <img src='<%= image_path("guide/78.AD.344.jpg") %>' alt="78.AD.344" />
      <figcaption>Figure 7: 78.AD.344, 9.5 x 14.6 cm</figcaption>
    </figure>
    [**78.AD.344** <i></i>{:class="ion-link"}][8466]{:target="blank"} ([fig. 7](#fig_07)):
    Reclining male banqueter; early fifth century <span class="smcaps">BC</span>. Gift of David Collins.
-   <figure markdown="0" class="inline-figure" id="fig_08">
      <img src='<%= image_path("guide/80.AD.74.jpg") %>' alt="80.AD.74" />
      <figcaption>Figure 8: 80.AD.74, H: 9 cm</figcaption>
    </figure>
    [**80.AD.74** <i></i>{:class="ion-link"}][9236]{:target="blank"} ([fig. 8](#fig_08)): Head of a
    young woman wearing a *polos*; late fifth century <span class="smcaps">BC</span>. Gift of J. P. Grosz.
-   <figure markdown="0" class="inline-figure" id="fig_09">
      <img src='<%= image_path("guide/83.AD.354.15.jpg") %>' alt="83.AD.354.15" />
      <figcaption>Figure 9: 83.AD.354.15, L: 22.5 cm</figcaption>
    </figure>
    [**83.AD.354.1–394** <i></i>{:class="ion-link"}][search-83AD354]{:target="blank"}:
    A group of 394 fragments that comprise 292 votive objects, consisting of types
    associated with the areas of Taranto (272), Apulia (1), and Metaponto (55;
    see below for further discussion of the Metapontine examples), with the
    remainder from unidentified South Italian workshops. The earliest Tarentine
    votives in this lot date from the sixth to fifth centuries
    <span class="smcaps">BC</span> and depict figures of a standing goddess
    with a snake, a sphinx, a head of a woman wearing a conical *polos*, and
    a pair of seated goddesses. One fragment of the upper arm of a woman
    wearing a chiton fastened by three buttons (83.AD.354.15; [fig. 9](#fig_09)) is close to
    life size. A small number (21 objects) are fourth-century
    <span class="smcaps">BC</span> types: squatting silenos, head of a silenos
    or papposilenos, satyr playing flutes, heads of comic actors, and female
    heads and figures. The majority of the objects belong to the third century
    <span class="smcaps">BC</span>, with a great variety of figures and heads
    of women with melon coiffeurs (standing and seated, draped and nude female
    figures; dancer; mother and child). Also present are figurines of animals
    (dogs, cat, coiled snake, birds, horse, ape on a lion’s back, lion, turtle,
    animals mounting, cow?, boy riding a pig); mythological figures (Aphrodite
    leaning against a pillar, standing nude figures of Aphrodite, Nike, Eros);
    and a small number of male figures (head of a boy, torso). Gift of Stefan Hornak.

### Terracotta Molds

Thirty-nine molds depict types that belong to the repertoires of
Tarentine and, more generally, South Italian terracottas. Seven molds
acquired in 1973 were part of a group of 430 fourth-century <span class="smcaps">BC</span>
terracottas, mainly representing female heads (see 73.AD.10 under “South Italy”).
In 1974, 1975, and 1976, three groups of Tarentine molds came to the Getty from
the collection of Norman Neuerberg. These molds produced figurines in the round
and reliefs for decorative appliqués. Four examples are marked with the names or
monograms of Tarentine coroplastic workshops.

<br />

-   <figure markdown="0" class="inline-figure" id="fig_10">
      <img src='<%= image_path("guide/71.AD.363.jpg") %>' alt="71.AD.363" />
      <figcaption>Figure 10: 71.AD.363, 25 x 21.5 cm</figcaption>
    </figure>
    [**71.AD.363** <i></i>{:class="ion-link"}][6816]{:target="blank"} ([fig. 10](#fig_10)):
    Head of a woman, wearing a pendant earring in her right
    ear; Tarentine front mold for a life-size funerary bust, with
    triangular string marks on the top and sides; fourth century
    <span class="smcaps">BC</span>. See <span class="smcaps">Kingsley 1976</span>,
    p. 8, no. 17, pl. 17.
-   [**73.AD.10.C.2.a** <i></i>{:class="ion-link"}][254985]{:target="blank"}
    and [**b** <i></i>{:class="ion-link"}][254986]{:target="blank"}: Unidentified
    South Italian mold fragments.
-   [**73.AD.10.H.1** <i></i>{:class="ion-link"}][18884]{:target="blank"}:
    Arm, South Italian; fourth century <span class="smcaps">BC</span>.
-   [**73.AD.10.H.2.a** <i></i>{:class="ion-link"}][18885]{:target="blank"} and
    [**b** <i></i>{:class="ion-link"}][18886]{:target="blank"}: Bull being led
    to sacrifice and secured to the ground by a rope, South Italian front mold;
    fourth century <span class="smcaps">BC</span>. See
    <span class="smcaps">Kingsley 1976</span>, p. 13, no. 37, pl. 37.
-   [**73.AD.10.H.3** <i></i>{:class="ion-link"}][18887]{:target="blank"}: Woman
    wearing a veiled *polos*; Tarentine front mold; fourth century
    <span class="smcaps">BC</span>. See <span class="smcaps">Kingsley 1976,</span>
    p. 5, no. 8, pl. 8.
-   [**73.AD.10.H.4** <i></i>{:class="ion-link"}][18888]{:target="blank"}:
    Tanagra-type head of a woman, South Italian back mold; fourth century
    <span class="smcaps">BC</span>. See <span class="smcaps">Kingsley 1976,</span>
    p. 10, no. 21, pl. 21.
-   [**73.AD.10.H.5** <i></i>{:class="ion-link"}][18889]{:target="blank"}:
    Bust of a woman, South Italian front mold; fourth century
    <span class="smcaps">BC</span>. See <span class="smcaps">Kingsley 1976,</span>
    p. 11, no. 29, pl. 29.
-   [**73.AD.10.H.6** <i></i>{:class="ion-link"}][18890]{:target="blank"}:
    Unidentified torso, South Italian; fourth century <span class="smcaps">BC</span>.
-   [**74.AD.53** <i></i>{:class="ion-link"}][7171]{:target="blank"}:
    Draped woman (Persephone) wearing a veiled *polos*,
    holding a crossed torch against her right shoulder and a basket of
    offerings in her left arm. The coiffeur—a double row of shell
    curls—hand, and torch have been recut. Tarentine front mold;
    inscribed \[DION\]YSIO(Y), AL (the shop of AL and Dionysios);
    mid-fourth century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> cover and pp.
    6–7, no. 12, pl. 12; <span class="smcaps">Kingsley
    1981,</span> pp. 47–50, no. C.4, figs. 2 and 9; and <span
    class="smcaps">Ferrandini Troisi, Buccoliero, and
    Ventrelli 2012</span>, p. 184, no. 45.
-   [**74.AD.54** <i></i>{:class="ion-link"}][7172]{:target="blank"}:
    Head of a woman wearing a *stephane*, turned slightly to
    proper right, representing Aphrodite or Artemis, and inscribed LY.
    Tarentine front mold; the cavity of which is worn and has not been
    retouched; mid-fourth century <span class="smcaps">BC</span>
    (from a prototype of about 350 <span class="smcaps">BC</span>).
    See <span class="smcaps">Kingsley 1976,</span> p.
    9, no. 19, pl. 19; <span class="smcaps">Kingsley
    1981,</span> pp. 45–46, no. A.1, figs. 1 and 5 (incorrectly cited as
    74.AD.22); and <span class="smcaps">Ferrandini Troisi,
    Buccoliero, and Ventrelli 2012</span>, p. 184, no. 43 (incorrectly
    cited as 74.AD.22).
-   [**74.AD.55** <i></i>{:class="ion-link"}][7173]{:target="blank"}:
    Nude boy holding a goose in his left arm; Tarentine front
    mold, retouched; fourth century <span class="smcaps">BC</span>.
    See <span class="smcaps">Kingsley 1976</span>, pp.
    10–11, no. 25, pl. 25.
-   [**74.AD.56** <i></i>{:class="ion-link"}][7174]{:target="blank"}:
    Seated nude woman wearing a *polos*, with a decorative
    rosette beside her right shoulder; sixth-generation mold for a
    funerary statuette (of Aphrodite?) originally wearing a sheer
    chiton; fourth century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> p. 7, no.
    14, pl. 14.
-   [**74.AD.57** <i></i>{:class="ion-link"}][7175]{:target="blank"}:
    Head and torso of a woman holding a phiale, with a
    *lampadion* coiffeur; made from a Tarentine single mold as a
    half-round figure; fourth century <span class="smcaps">BC</span>.
    See <span class="smcaps">Kingsley 1976</span>, p. 11, no. 28, pl. 28.
-   [**74.AD.58** <i></i>{:class="ion-link"}][7176]{:target="blank"}:
    Right side of horse’s head; string marks indicate that the
    figure was in the round, and a notch at the lower edge served to
    attach the head to the animal’s body; Tarentine front mold; fourth
    century <span class="smcaps">BC</span>. See
    <span class="smcaps">Kingsley 1976</span>, p. 12, no. 32, pl. 32.
-   [**74.AD.59** <i></i>{:class="ion-link"}][7177]{:target="blank"}:
    Head of a banqueting Silenos wearing a fillet; Tarentine
    front mold; fourth century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> p. 6, no.
    9, pl. 9.
-   [**74.AD.60** <i></i>{:class="ion-link"}][7178]{:target="blank"}:
    Standing girl wearing a high-waisted chiton; Tarentine
    back mold of a Tanagra type; fourth century <span class="smcaps">BC</span>.
    See <span class="smcaps">Kingsley 1976</span>, pp. 10–11, no. 23, pl. 23.
-   [**74.AD.61** <i></i>{:class="ion-link"}][7179]{:target="blank"}:
    Nude winged daimon wearing boots and holding a *liknon*
    (winnowing basket); Tarentine front mold; fourth century
    <span class="smcaps">BC</span>. See <span class="smcaps">Kingsley 1976,</span>
    p. 13, no. 35, pl. 35.
-   [**74.AD.62** <i></i>{:class="ion-link"}][7180]{:target="blank"}:
    Lion fighting bull; Tarentine mold for making a
    sarcophagus appliqué; fourth century <span class="smcaps">BC</span>.
    See <span class="smcaps">Kingsley 1976</span>, p. 14, no.
    38, pl. 38; and <span class="smcaps">Lullies</span>
    1977, p. 254.
-   [**75.AD.41** <i></i>{:class="ion-link"}][7216]{:target="blank"}:
    Ornamental disc with a central rosette and relief
    ornaments; Tarentine; fourth century <span class="smcaps">BC</span>.
-   [**75.AD.42** <i></i>{:class="ion-link"}][7217]{:target="blank"}:
    Daedalic bust of a woman wearing a peplos, mantle, and
    *polos*; Tarentine; late seventh century <span class="smcaps">BC</span>.
    See <span class="smcaps">Kingsley 1976</span>, p. 4, no. 1, pl. 1.
-   [**75.AD.43** <i></i>{:class="ion-link"}][7218]{:target="blank"}:
    Reclining male banqueter holding a rhyton in his left
    hand, right hand resting on his right knee; Tarentine; late
    sixth–fifth century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> p. 4, no.
    2, pl. 2; and B. M. Kingsley, “Reclining Heroes of Taras,” pp.
    201–20, pl. 1.1–2.
-   <figure markdown="0" class="inline-figure" id="fig_11">
      <img src='<%= image_path("guide/75.AD.44.jpg") %>' alt="75.AD.44" />
      <figcaption>Figure 11: 75.AD.44, H: 17.8 cm</figcaption>
    </figure>
    [**75.AD.44** <i></i>{:class="ion-link"}][7219]{:target="blank"} ([fig. 11](#fig_11)):
    Bust of Demeter or Persephone wearing a veiled *polos*
    and holding a crossed torch at her right shoulder; inscribed
    [ZO]PY[RAS], RA (the shop of Zopyras, RA, and LA); Tarentine
    front mold, 350–325 <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> p. 7, no.
    13, pl. 13; <span class="smcaps">Kingsley
    1981,</span> pp. 50–51, no. E.10 (incorrectly cited as
    74.AD.44); figs. 3 and 13; and <span
    class="smcaps">Ferrandini Troisi, Buccoliero, and
    Ventrelli 2012</span>, p. 184, no. 44 (incorrectly cited
    as 74.AD.44).
-   <figure markdown="0" class="inline-figure" id="fig_12">
      <img src='<%= image_path("guide/75.AD.45.jpg") %>' alt="75.AD.45" />
      <figcaption>Figure 12: 75.AD.45, H: 12.5 cm </figcaption>
    </figure>
    [**75.AD.45** <i></i>{:class="ion-link"}][7220]{:target="blank"} ([fig. 12](#fig_12)):
    Head and torso of a youth holding a strigil in his
    upraised right hand and a phiale in his left hand. The figure
    stands within a *naiskos*. Fragmentary Tarentine mold for a relief
    plaque that originally depicted both Dioscuri; fourth century <span
    class="smcaps">BC</span>. See <span class="smcaps">Kingsley 1976,</span> p.
    6, no. 11, pl. 11.
-   [**76.AD.110** <i></i>{:class="ion-link"}][7499]{:target="blank"}:
    Acanthus leaf, vase appliqué; Tarentine; fourth
    century <span class="smcaps">BC</span>. See <span class="smcaps">Kingsley
    1976,</span> p. 13, no. 34, pl. 34.
-   [**76.AD.111** <i></i>{:class="ion-link"}][7500]{:target="blank"}:
    Backside of a squatting nude figure (silenos?); Tarentine
    back mold; third–second century <span class="smcaps">BC</span>.See <span
    class="smcaps">Kingsley 1976,</span> p. 8, no. 16, pl. 16.
-   [**76.AD.112** <i></i>{:class="ion-link"}][7501]{:target="blank"}:
    Male torso with distended stomach (comic actor);
    Tarentine front mold; late fourth–third century <span class="smcaps">BC</span>.
    See <span class="smcaps">Kingsley 1976,</span> p. 12, no. 31, pl. 31
    (incorrectly cited as L.74.AD.15).
-   [**76.AD.113** <i></i>{:class="ion-link"}][7502]{:target="blank"}:
    Small head set within a triangle; Tarentine; fourth or
    third century <span class="smcaps">BC</span>.
-   [**76.AD.114** <i></i>{:class="ion-link"}][7503]{:target="blank"}:
    Small bust of a draped woman, broken from a full-figure
    mold, with string marks at the sides; Tarentine; mid-fourth
    century <span class="smcaps">BC</span>. See <span class="smcaps">Kingsley
    1976,</span> p. 9, no. 20, pl. 20 (incorrectly cited as L.74.AD.12).
-   [**76.AD.115** <i></i>{:class="ion-link"}][7504]{:target="blank"}:
    Squatting silenos with his arms resting on his knees and
    holding a volute krater by its handles between his legs; Tarentine
    front mold, late fourth century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> p. 8, no.
    15, pl. 15 (incorrectly cited as L.74.AD.18).
-   [**76.AD.116** <i></i>{:class="ion-link"}][7505]{:target="blank"}:
    Eros astride a dolphin; Tarentine front mold; late fourth
    century <span class="smcaps">BC</span>.
-   [**76.AD.117** <i></i>{:class="ion-link"}][7506]{:target="blank"}:
    Seated boy, with his left knee resting on the ground, the right raised,
    holding a Maltese puppy. There is an inscription on the reverse of the mold:
    <span class="smcaps">LEONTOS</span> (the shop of Leon). Tarentine front mold;
    350–325 <span class="smcaps">BC</span>. See
    <span class="smcaps">Kingsley 1976,</span> p. 11, no. 27, pl. 27
    (incorrectly cited as L74.AD.21); <span class="smcaps">Kingsley 1981,</span>
    pp. 51–52, no. G.16, figs. 4 and 14 (incorrectly cited as 74.AD.21); and <span
    class="smcaps">Ferrandini Troisi, Buccoliero, and Ventrelli 2012</span>,
    p. 184, no. 42 (incorrectly cited as 74.AD.21).
-   [**76.AD.118** <i></i>{:class="ion-link"}][7507]{:target="blank"}:
    Woman with a melon coiffeur and veil, holding a child on
    her lap; probably part of a banqueting group, with the child
    stretching its arms toward a reclining man; Tarentine front mold;
    late fourth century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> p. 5, no.
    6, pl. 6 (incorrectly cited as 74.AD.54).
-   [**76.AD.119** <i></i>{:class="ion-link"}][7508]{:target="blank"}:
    Head of a woman with curly hair, a large nose, and
    protruding lips; Tarentine front mold; late fourth century
    <span class="smcaps">BC</span>.
-   [**76.AD.120** <i></i>{:class="ion-link"}][7509]{:target="blank"}:
    Head, shoulders, and upper right arm of a reclining man
    wearing an elaborate wreath in his hair, which is parted in the
    middle and hangs in long tresses over the shoulders. Tarentine front
    mold; mid-fifth century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> p. 4, no.
    3, pl. 3 (incorrectly cited as L.74.AD.25).
-   [**76.AD.121** <i></i>{:class="ion-link"}][7510]{:target="blank"}:
    Seated woman wearing a chiton and high *polos*. Her lower
    legs and feet are missing. She holds her garment with her right arm.
    Possibly a banqueter. Tarentine front mold; mid-fifth century
    <span class="smcaps">BC</span>. See <span class="smcaps">Kingsley 1976,</span>
    p. 5, no. 5, pl. 5 (incorrectly cited as L.74.AD.32).
-   [**76.AD.122** <i></i>{:class="ion-link"}][7511]{:target="blank"}: Herakles,
    with a lion skin over his left shoulder, lower legs and feet missing.
    Tarentine back mold; 350–300 <span class="smcaps">BC</span>. See
    <span class="smcaps">Kingsley 1976,</span> p. 10, no. 22, pl. 22
    (incorrectly cited as L.74.AD.33).
-   [**76.AD.123** <i></i>{:class="ion-link"}][7512]{:target="blank"}:
    Frontal left foot for a large sculpture, likely two-thirds life size;
    Tarentine; fourth century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> pp. 8–9, no. 18, pl. 18 (incorrectly
    cited as L.74.AD.35).
-   [**76.AD.124** <i></i>{:class="ion-link"}][7513]{:target="blank"}:
    Standing girl wearing a himation; Tarentine front mold;
    late fourth–third century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> pp.
    10–11, no. 24, pl. 24 (incorrectly cited as L.74.AD.38).
-   [**76.AD.125** <i></i>{:class="ion-link"}][7514]{:target="blank"}:
    Nude boy, his right leg advanced, holding an
    unidentifiable object under his right arm. Tarentine back mold;
    fourth or third century <span class="smcaps">BC</span>. See <span
    class="smcaps">Kingsley 1976,</span> pp.
    10–11, no. 26, pl. 26 (incorrectly cited as L.74.AD.41).

### Metaponto

-   <figure markdown="0" class="inline-figure" id="fig_13">
      <img src='<%= image_path("guide/77.AD.75.jpg") %>' alt="77.AD.75" />
      <figcaption>Figure 13: 77.AD.75, 12.3 x 8.4 cm</figcaption>
    </figure>
    [**77.AD.75** <i></i>{:class="ion-link"}][7869]{:target="blank"} ([fig. 13](#fig_13)):
    Upper body of a woman or goddess wearing a *polos* and
    with long locks of hair over her shoulders; sixth century <span
    class="smcaps">BC</span>; possibly made in Metaponto. Gift of Gordon McClendon.
-   [**83.AD.354** <i></i>{:class="ion-link"}][10608]{:target="blank"}:
    Among a group of 292 fragmentary votives described above
    (see under Taranto), 55 terracottas have been attributed to a
    workshop in Metaponto. Among the types are women’s heads and
    figures, seated women, a standing female plaque, a semicircular base
    with an attached foot, and women wearing a conical *polos*. They
    date from the mid-sixth to the early fifth century <span class="smcaps">BC</span>.

### Canosa

Several terracotta figures functioned as appliqués on vessels and
probably come from Apulian funerary contexts in or near Canosa:

<br />

-   [**80.AE.37** <i></i>{:class="ion-link"}][9184]{:target="blank"}:
    Eros riding an animal, lacking the head, arms, wings, and
    lower legs; traces of polychrome pigments on baldric (red) and
    chlamys (pink); third century <span class="smcaps">BC</span>. Gift of David Swingler. See <span
    class="smcaps">Van der Wielen-Van Ommeren 1985</span>, p. 181, no. 9, fig. 11.
-   [**80.AE.38.a** <i></i>{:class="ion-link"}][9186]{:target="blank"}:
    Pigeon, hand-modeled, with white slip and polychrome
    pigments; feathers and collar (red), contour line around wing (blue), neck (purple); early third century <span
    class="smcaps">BC</span>. Gift of David Swingler. See <span class="smcaps">Van der Wielen-Van
    Ommeren 1985</span>, p. 180, no. 7, fig. 10.
-   [**80.AE.38.b** <i></i>{:class="ion-link"}][9187]{:target="blank"}: Pigeon,
    hand-modeled, with traces of polychromy; early third century <span
    class="smcaps">BC</span>. Gift of David Swingler. Similar birds served as attachments on Canosan
    vases or were placed in graves as offerings. See <span class="smcaps">Van
    der Wielen-Van Ommeren 1985</span>, p. 180, no. 8, fig. 10.
-   [**81.AD.126** <i></i>{:class="ion-link"}][9776]{:target="blank"}: Paw of a
    lion, possibly the foot of a vessel or stand,
    with three attachment holes on the back; traces of white slip; about
    300 <span class="smcaps">BC</span>. Gift of Richard C. Swingler. See <span class="smcaps">Van der
    Wielen-Van Ommeren 1985</span>, p. 182, no. 11, fig. 13.
-   [**81.AE.160** <i></i>{:class="ion-link"}][9823]{:target="blank"}:
    Seated Eros, missing forearms, lower legs, and right ring; white slip with
    traces of polychrome pigments on the hair (red), chlamys (blue), and wing
    (violet); third century <span class="smcaps">BC</span>. Gift of Robert Blaugrund. See <span
    class="smcaps">Van der Wielen-Van Ommeren 1985</span>, p. 181–82, no. 10,
    fig. 12.

### South Italy

-   <figure markdown="0" class="inline-figure" id="fig_14">
      <img src='<%= image_path("guide/71.AD.345.jpg") %>' alt="71.AD.345" />
      <figcaption>Figure 14: 71.AD.345, H: 4.5 cm</figcaption>
    </figure>
    [**71.AD.345** <i></i>{:class="ion-link"}][6798]{:target="blank"} ([fig. 14](#fig_14)):
    Seated goddess, probably Persephone, wearing an epiblema and a high-belted chiton, with her head tilted to the left; traces of
    polychromy are visible on the surface; third century <span
    class="smcaps">BC</span>. See Alex G. Malloy, *Ancient Art and Antiquities* (1971), vol. 1, p. 18, no. 109.
-   <figure markdown="0" class="inline-figure" id="fig_15">
      <img src='<%= image_path("guide/71.AD.346.jpg") %>' alt="71.AD.346" />
      <figcaption>Figure 15: 71.AD.346, H: 16.3 cm</figcaption>
    </figure>
    [**71.AD.346** <i></i>{:class="ion-link"}][6799]{:target="blank"} ([fig. 15](#fig_15)):
    Goddess seated on a high, round-backed throne, wearing a
    chiton, himation, and *stephane* with a central ornament; large
    loops of hair at each ear; third century <span class="smcaps">BC</span>. See Alex G. Malloy, *Ancient Art and Antiquities* (1971), vol. 1, p. 18, no. 108.
-   <figure markdown="0" class="inline-figure" id="fig_16">
      <img src='<%= image_path("guide/71.AD.358.jpg") %>' alt="71.AD.358" />
      <figcaption>Figure 16: 71.AD.358, 13.5 x 12 cm</figcaption>
    </figure>
    [**71.AD.358** <i></i>{:class="ion-link"}][6811]{:target="blank"} ([fig. 16](#fig_16)):
    Upper half of a seated goddess, perhaps Persephone,
    wearing a himation and veil, with her right arm resting on her lap;
    the goddess is seated on a throne; pairs of rosettes decorate the
    backrest on either side of her shoulders; fifth century <span
    class="smcaps">BC</span>. See Alex G. Malloy, Ancient Art and Antiquities (1971), vol. 1, p. 18, no. 106.
-   [**73.AD.10.A.1–73.AD.10.P.15** <i></i>{:class="ion-link"}][search-73AD10]{:target="blank"}:
    Group of 450 votives dated to the fourth century <span class="smcaps">BC</span>
    on the basis of associated sherds of an Attic red-figure bell krater, Attic
    lekythoi, a lamp, and South Italian and Gnathia pottery sherds. In
    addition to the seven South Italian molds listed above, the lot is
    almost exclusively composed of female heads, fragmentary figures,
    and a small number of male heads. Of the fifteen discoid or horse-shoe loom-weights
    (73.AD.10.I.1-15), several have figural reliefs, with images of a
    kneeling child holding an animal, Eros on a dolphin, Aphrodite
    riding a swan, an owl with arms holding a distaff over a kalathos,
    frontal head of a woman, and two facing busts (the so-called
    kissers type). The loom-weights belong to a series regularly found
    at sites in the region of Taranto, Metaponto, and Herakleia,
    beginning in the second half of the fourth century <span class="smcaps">BC</span>.
    If they belong with the accompanying group of votive heads, an origin in one
    of the Greek settlements along the Ionian coast is likely. Acquired from Royal Athena Galleries, New York.
-   <figure markdown="0" class="inline-figure" id="fig_17">
      <img src='<%= image_path("guide/78.AD.271.24_reference.jpg") %>' alt="78.AD.271.24" />
      <figcaption>Figure 17: 78.AD.271.24 (reference image), 6.9 x 4.4 cm</figcaption>
    </figure>
    [**78.AD.271.24** <i></i>{:class="ion-link"}][8223]{:target="blank"} ([fig. 17](#fig_17)):
    Head of a silenos with a columnar element attached to the top of the head, and traces of white slip; fourth
    century <span class="smcaps">BC</span>. Gift of Gordon McClendon.
-   <figure markdown="0" class="inline-figure" id="fig_18">
      <img src='<%= image_path("guide/78.AD.404_reference.jpg") %>' alt="78.AD.404" />
      <figcaption>Figure 18: 78.AD.404 (reference image), H: 8.7 cm</figcaption>
    </figure>
    [**78.AD.404** <i></i>{:class="ion-link"}][8513]{:target="blank"} ([fig. 18](#fig_18)):
    Votive relief with head and torso of Aphrodite rising
    from the waves; third century <span class="smcaps">BC</span>. Gift of Malcolm Wiener.
-   [**98.AD.115** <i></i>{:class="ion-link"}][124940]{:target="blank"}:
    Fragmentary figure of Aphrodite, semidraped; third
    century <span class="smcaps">BC</span>.
-   [**98.AD.116** <i></i>{:class="ion-link"}][124943]{:target="blank"}:
    Upper torso of Aphrodite, nude with left arm
    raised (missing); third century <span class="smcaps">BC</span>.
-   [**98.AD.117** <i></i>{:class="ion-link"}][124946]{:target="blank"}:
    Woman standing with left leg advanced and knee bent,
    wearing a chiton belted under her breasts and a himation, which is
    draped over the left shoulder and gathered in thick folds around
    the waist; the head, right arm at the shoulder, left arm at the
    elbow, and right foot are missing; there is a circular vent hole in
    the upper back; third century <span class="smcaps">BC</span>.
-   [**98.AD.118** <i></i>{:class="ion-link"}][124949]{:target="blank"}:
    Head of a woman; fifth century <span class="smcaps">BC</span>.
-   [**98.AD.120** <i></i>{:class="ion-link"}][124951]{:target="blank"}:
    Frontal head of a woman, with part of the relief panel
    preserved behind the head and traces of red polychromy at the top;
    sixth century <span class="smcaps">BC</span>.
-   [**98.AD.121** <i></i>{:class="ion-link"}][124952]{:target="blank"}:
    Head and neck of a maenad with a melon coiffeur, wearing
    a wreath of leaves and fruit, a necklace, and a large disc earring
    in the left ear; third century <span class="smcaps">BC</span>.
-   [**98.AD.122** <i></i>{:class="ion-link"}][124955]{:target="blank"}:
    Fragmentary figure of Aphrodite, semidraped; third
    century <span class="smcaps">BC</span>.
-   [**98.AD.123** <i></i>{:class="ion-link"}][124963]{:target="blank"}:
    Fragmentary standing woman wearing a peplos, holding two pomegranates in her left hand and an alabastron in her right; fragmentary; fifth
    century <span class="smcaps">BC</span>.
-   [**98.AD.124** <i></i>{:class="ion-link"}][124966]{:target="blank"}:
    Head and neck of a woman with her hair arranged in a bun
    at the top of the head; a headscarf is tied in a knot at the peak of
    the forehead, and there are holes in the earlobes for the attachment
    of earrings; second century <span class="smcaps">BC</span>.
-   [**98.AD.130** <i></i>{:class="ion-link"}][125001]{:target="blank"}:
    Head of a woman wearing a large headdress; third
    century <span class="smcaps">BC</span>.
-   [**98.AD.144.1–98 and .100** <i></i>{:class="ion-link"}][search-98AD144]{:target="blank"}:
    Approximately 100 unrestored fragments
    belonging to a single figure of a draped woman, perhaps Aphrodite,
    wearing a chiton belted below the breasts; red pigment on the hair
    and areas of the drapery; third century <span class="smcaps">BC</span>.

### Campania

-   <figure markdown="0" class="inline-figure" id="fig_19">
      <img src='<%= image_path("guide/71.AD.304.jpg") %>' alt="71.AD.304" />
      <figcaption>Figure 19: 71.AD.304, H: 22.2 cm</figcaption>
    </figure>
    [**71.AD.304** <i></i>{:class="ion-link"}][6760]{:target="blank"} ([fig. 19](#fig_19)):
    Head of a woman with melon coiffeur and veil, and a long
    neck with incised Venus ring; from a mold series found at Capua; ca.
    250–200 <span class="smcaps">BC</span>. See <span
    class="smcaps">Smithers 1993</span>, p. 26, fig.
    18; and Alex G. Malloy, *Ancient Art and Antiquities* (1971), vol. 1, p. 24, no. 121.
-   <figure markdown="0" class="inline-figure" id="fig_20">
      <img src='<%= image_path("guide/71.AD.305.jpg") %>' alt="71.AD.305" />
      <figcaption>Figure 20: 71.AD.305, H: 20 cm</figcaption>
    </figure>
    [**71.AD.305** <i></i>{:class="ion-link"}][6761]{:target="blank"} ([fig. 20](#fig_20)):
    Head of a woman with disc earrings and a veil covering
    the back portion of the head, from the same mold generation as an
    identical head in the Museo Campano in Capua, dated 300–275 <span
    class="smcaps">BC</span>. See <span class="smcaps">Smithers 1993</span>,
    p. 24, fig. 14; and Alex G. Malloy, *Ancient Art and Antiquities* (1971), vol. 1, p. 24, no. 123.
-   <figure markdown="0" class="inline-figure" id="fig_21">
      <img src='<%= image_path("guide/71.AD.306.jpg") %>' alt="71.AD.306" />
      <figcaption>Figure 21: 71.AD.306, H: 19 cm</figcaption>
    </figure>
    [**71.AD.306** <i></i>{:class="ion-link"}][6762]{:target="blank"} ([fig. 21](#fig_21)):
    Head of a woman wearing a veil, a fillet with a central
    bead, and a coiled torque necklace; stylistically similar to heads
    in Capua and Cales; 300–250 <span class="smcaps">BC</span>. See <span
    class="smcaps">Smithers 1993</span>, p. 25, fig.
    17; and Alex G. Malloy, *Ancient Art and Antiquities* (1971), vol. 1, p. 24, no. 122.
-   <figure markdown="0" class="inline-figure" id="fig_22">
      <img src='<%= image_path("guide/82.AD.52.1.jpg") %>' alt="82.AD.52.1" />
      <figcaption>Figure 22: 82.AD.52.1, H: 56 cm</figcaption>
    </figure>
    <figure markdown="0" class="inline-figure" id="fig_23">
      <img src='<%= image_path("guide/82.AD.52.10.jpg") %>' alt="82.AD.52.10" />
      <figcaption>Figure 23: 82.AD.52.10, H: 5.7 cm</figcaption>
    </figure>
    <figure markdown="0" class="inline-figure" id="fig_24">
      <img src='<%= image_path("guide/82.AD.52.70.jpg") %>' alt="82.AD.52.70" />
      <figcaption>Figure 24: 82.AD.52.70, 15 x 19.1 cm </figcaption>
    </figure>
    <figure markdown="0" class="inline-figure" id="fig_25">
      <img src='<%= image_path("guide/82.AD.52.128.jpg") %>' alt="82.AD.52.128" />
      <figcaption>Figure 25: 82.AD.52.128, H: 7.1 cm</figcaption>
    </figure>
    <figure markdown="0" class="inline-figure" id="fig_26">
      <img src='<%= image_path("guide/82.AD.52.129.jpg") %>' alt="82.AD.52.129" />
      <figcaption>Figure 26: 82.AD.52.129, H: 19.6 cm</figcaption>
    </figure>
    <figure markdown="0" class="inline-figure" id="fig_27">
      <img src='<%= image_path("guide/82.AD.52.133.jpg") %>' alt="82.AD.52.133" />
      <figcaption>Figure 27: 82.AD.52.133, 20 x 11.2 cm</figcaption>
    </figure>
    [**82.AD.52.1–153** <i></i>{:class="ion-link"}][search-82AD52]{:target="blank"}:
    A large group of votives was donated in 1982 and
    reportedly comes from Campania. Many of the figures are fragmentary
    and show evidence of burning. The fabric is reddish brown with black
    and reflective inclusions, and the statuettes are hand modeled and
    summarily finished with a tool; there are occasional traces of cream
    slip and red pigment. Dating to the sixth and fifth centuries <span
    class="smcaps">BC</span>,
    the group comprises male and female figures standing on rectangular
    plinths; heads of women, some wearing a tall, flaring *polos*
    (82.AD.52.10; [fig. 23](#fig_23)); men wearing short, pleated tunics fastened on one
    shoulder (82.AD.52.133; [fig. 27](#fig_27)); male heads, some with crested
    helmets (82.AD.52.129; [fig. 26](#fig_26)) or other styles of headgear; shields with a
    fragmentary hand or arm attached to the inside; a seated figure with
    an animal; a plaque of a standing figure with a snake; and men, both
    draped and nude, standing with hands on hips 82.AD.58.132 and 135). On
    some, locks are hair are denoted by circular
    impressions (82.AD.52.128; [fig. 25](#fig_25)). A large statuette
    (82.AD.52.1, H: 56 cm; [fig. 22](#fig_22))
    of a warrior sports a short Italic-type cuirass ending above the
    genitals and a helmet. In addition to the statuettes, the group
    includes a Campanian female antefix (82.AD.52.70; [fig. 24](#fig_24)) crowned with a
    headband and radiating tongues. The consistency of the fabric,
    repetition of types, and pattern of damage suggest that the
    statuettes formed part of a single votive deposit. Similar statuette
    types are attested in votive deposits from the sanctuary of Juno
    Popluna at Masseria Soppegna, Fondo Ruozzo, near Teano.
-   [**98.AD.119** <i></i>{:class="ion-link"}][124950]{:target="blank"}:
    Head of a woman wearing a tall *polos*; the face is
    U-shaped, with a prominent pointed nose and ears rendered as flat
    discs; sixth century <span class="smcaps">BC</span>. Gift of Vasek Polak.

### Sicily

-   <figure markdown="0" class="inline-figure" id="fig_28">
      <img src='<%= image_path("guide/70.AD.120.jpg") %>' alt="70.AD.120" />
      <figcaption>Figure 28: 70.AD.120, 25.7 x 22.2 cm</figcaption>
    </figure>
    [**70.AD.120** <i></i>{:class="ion-link"}][6559]{:target="blank"} ([fig. 28](#fig_28)):
    Bust of a woman with coiled locks of hair falling forward
    over her shoulders, wearing a diadem and necklace, perhaps Persephone; white slip and traces of polychromy, with
    a circular vent hole in the back of the head and square notch in the
    rear lower edge of the bust; 300–200 <span class="smcaps">BC</span>;
    probably from Centuripe. Gift of J. Paul Getty.
-   <figure markdown="0" class="inline-figure" id="fig_29">
      <img src='<%= image_path("guide/71.AD.141.jpg") %>' alt="71.AD.141" />
      <figcaption>Figure 29: 71.AD.141, 13.6 x 6.9 x 6.5 cm</figcaption>
    </figure>
    [**71.AD.141** <i></i>{:class="ion-link"}][6601]{:target="blank"} ([fig. 29](#fig_29)):
    Seated woman wearing a veil and holding on her lap a
    child who faces forward; sixth–fifth centuries <span class="smcaps">BC</span>;
    reportedly from Gela. Acquired from the Royal Athena Galleries, New York.
-   <figure markdown="0" class="inline-figure" id="fig_30">
      <img src='<%= image_path("guide/71.AD.347.jpg") %>' alt="71.AD.347" />
      <figcaption>Figure 30: 71.AD.347, 11 x 3.8 x 6 cm</figcaption>
    </figure>
    [**71.AD.347** <i></i>{:class="ion-link"}][6800]{:target="blank"} ([fig. 30](#fig_30)):
    Seated woman wearing a veil and long himation, holding a
    child up in front of her left shoulder; fifth century <span
    class="smcaps">BC</span>; reportedly from Gela.
-   [**75.AD.34** <i></i>{:class="ion-link"}][7209]{:target="blank"}:
    Fragmentary head of a woman with large eyes, a bulbous
    nose, and thick lips; fifth century <span class="smcaps">BC</span>. Gift of Fred and Virginia M. Bromberg, Bay Shores, NY.
-   [**78.AD.345** <i></i>{:class="ion-link"}][8467]{:target="blank"}:
    Woman holding a child up in front of her left shoulder;
    fifth century <span class="smcaps">BC</span>; reportedly from Gela.
-   <figure markdown="0" class="inline-figure" id="fig_31">
      <img src='<%= image_path("guide/78.AD.346.jpg") %>' alt="78.AD.346" />
      <figcaption>Figure 31: 78.AD.346, 8.3 x 5.4 x 13.5 cm</figcaption>
    </figure>
    [**78.AD.346** <i></i>{:class="ion-link"}][8468]{:target="blank"} ([fig. 31](#fig_31)):
    Rattle in the shape of a pig; with white slip and pink
    pigment; third century <span class="smcaps">BC</span>; probably made
    in Centuripe. Gift of David Collins. 

[6766]: http://www.getty.edu/art/collection/objects/6766 "View this item on the Getty's collection pages."
[6792]: http://www.getty.edu/art/collection/objects/6792 "View this item on the Getty's collection pages."
[7211]: http://www.getty.edu/art/collection/objects/7211 "View this item on the Getty's collection pages."
[7212]: http://www.getty.edu/art/collection/objects/7212 "View this item on the Getty's collection pages."
[search-75AD40]: http://www.getty.edu/art/collection/search/?view=grid&query=YTo1OntzOjE3OiJfZGF0ZV9yYW5nZV9iZWdhbiI7czo1OiItNTAwMCI7czoxNzoiX2RhdGVfcmFuZ2VfZW5kZWQiO3M6NDoiMjAxNCI7czo4OiJfbnVtYmVycyI7czo4OiI3NS5BRC40MCI7czo0MToiKGlkZW50aWZpZXIucHJpbWFyeXxpZGVudGlmaWVyLmFsdGVybmF0ZSkiO3M6ODoiNzUuQUQuNDAiO3M6NDoic29ydCI7czo2OiItc2NvcmUiO30= "Search these items on the Getty's collection pages."
[8222]: http://www.getty.edu/art/collection/objects/8222 "View this item on the Getty's collection pages."
[8466]: http://www.getty.edu/art/collection/objects/8466 "View this item on the Getty's collection pages."
[9236]: http://www.getty.edu/art/collection/objects/9236 "View this item on the Getty's collection pages."
[search-83AD354]: http://www.getty.edu/art/collection/search/?view=grid&query=YTo1OntzOjE3OiJfZGF0ZV9yYW5nZV9iZWdhbiI7czo1OiItNTAwMCI7czoxNzoiX2RhdGVfcmFuZ2VfZW5kZWQiO3M6NDoiMjAxNCI7czo4OiJfbnVtYmVycyI7czo5OiI4My5BRC4zNTQiO3M6NDE6IihpZGVudGlmaWVyLnByaW1hcnl8aWRlbnRpZmllci5hbHRlcm5hdGUpIjtzOjk6IjgzLkFELjM1NCI7czo0OiJzb3J0IjtzOjY6Ii1zY29yZSI7fQ== "Search these items on the Getty's collection pages."
[6816]: http://www.getty.edu/art/collection/objects/6816 "View this item on the Getty's collection pages."
[254985]: http://www.getty.edu/art/collection/objects/254985 "View this item on the Getty's collection pages."
[254986]: http://www.getty.edu/art/collection/objects/254986 "View this item on the Getty's collection pages."
[18884]: http://www.getty.edu/art/collection/objects/18884 "View this item on the Getty's collection pages."
[18885]: http://www.getty.edu/art/collection/objects/18885 "View this item on the Getty's collection pages."
[18886]: http://www.getty.edu/art/collection/objects/18886 "View this item on the Getty's collection pages."
[18887]: http://www.getty.edu/art/collection/objects/18887 "View this item on the Getty's collection pages."
[18888]: http://www.getty.edu/art/collection/objects/18888 "View this item on the Getty's collection pages."
[18889]: http://www.getty.edu/art/collection/objects/18889 "View this item on the Getty's collection pages."
[18890]: http://www.getty.edu/art/collection/objects/18890 "View this item on the Getty's collection pages."
[7171]: http://www.getty.edu/art/collection/objects/7171 "View this item on the Getty's collection pages."
[7172]: http://www.getty.edu/art/collection/objects/7172 "View this item on the Getty's collection pages."
[7173]: http://www.getty.edu/art/collection/objects/7173 "View this item on the Getty's collection pages."
[7174]: http://www.getty.edu/art/collection/objects/7174 "View this item on the Getty's collection pages."
[7175]: http://www.getty.edu/art/collection/objects/7175 "View this item on the Getty's collection pages."
[7176]: http://www.getty.edu/art/collection/objects/7176 "View this item on the Getty's collection pages."
[7177]: http://www.getty.edu/art/collection/objects/7177 "View this item on the Getty's collection pages."
[7178]: http://www.getty.edu/art/collection/objects/7178 "View this item on the Getty's collection pages."
[7179]: http://www.getty.edu/art/collection/objects/7179 "View this item on the Getty's collection pages."
[7180]: http://www.getty.edu/art/collection/objects/7180 "View this item on the Getty's collection pages."
[7216]: http://www.getty.edu/art/collection/objects/7216 "View this item on the Getty's collection pages."
[7217]: http://www.getty.edu/art/collection/objects/7217 "View this item on the Getty's collection pages."
[7218]: http://www.getty.edu/art/collection/objects/7218 "View this item on the Getty's collection pages."
[7219]: http://www.getty.edu/art/collection/objects/7219 "View this item on the Getty's collection pages."
[7220]: http://www.getty.edu/art/collection/objects/7220 "View this item on the Getty's collection pages."
[7499]: http://www.getty.edu/art/collection/objects/7499 "View this item on the Getty's collection pages."
[7500]: http://www.getty.edu/art/collection/objects/7500 "View this item on the Getty's collection pages."
[7501]: http://www.getty.edu/art/collection/objects/7501 "View this item on the Getty's collection pages."
[7502]: http://www.getty.edu/art/collection/objects/7502 "View this item on the Getty's collection pages."
[7503]: http://www.getty.edu/art/collection/objects/7503 "View this item on the Getty's collection pages."
[7504]: http://www.getty.edu/art/collection/objects/7504 "View this item on the Getty's collection pages."
[7505]: http://www.getty.edu/art/collection/objects/7505 "View this item on the Getty's collection pages."
[7506]: http://www.getty.edu/art/collection/objects/7506 "View this item on the Getty's collection pages."
[7507]: http://www.getty.edu/art/collection/objects/7507 "View this item on the Getty's collection pages."
[7508]: http://www.getty.edu/art/collection/objects/7508 "View this item on the Getty's collection pages."
[7509]: http://www.getty.edu/art/collection/objects/7509 "View this item on the Getty's collection pages."
[7510]: http://www.getty.edu/art/collection/objects/7510 "View this item on the Getty's collection pages."
[7511]: http://www.getty.edu/art/collection/objects/7511 "View this item on the Getty's collection pages."
[7512]: http://www.getty.edu/art/collection/objects/7512 "View this item on the Getty's collection pages."
[7513]: http://www.getty.edu/art/collection/objects/7513 "View this item on the Getty's collection pages."
[7514]: http://www.getty.edu/art/collection/objects/7514 "View this item on the Getty's collection pages."
[7869]: http://www.getty.edu/art/collection/objects/7869 "View this item on the Getty's collection pages."
[10608]: http://www.getty.edu/art/collection/objects/10608 "View this item on the Getty's collection pages."
[9184]: http://www.getty.edu/art/collection/objects/9184 "View this item on the Getty's collection pages."
[9186]: http://www.getty.edu/art/collection/objects/9186 "View this item on the Getty's collection pages."
[9187]: http://www.getty.edu/art/collection/objects/9187 "View this item on the Getty's collection pages."
[9776]: http://www.getty.edu/art/collection/objects/9776 "View this item on the Getty's collection pages."
[9823]: http://www.getty.edu/art/collection/objects/9823 "View this item on the Getty's collection pages."
[6798]: http://www.getty.edu/art/collection/objects/6798 "View this item on the Getty's collection pages."
[6799]: http://www.getty.edu/art/collection/objects/6799 "View this item on the Getty's collection pages."
[6811]: http://www.getty.edu/art/collection/objects/6811 "View this item on the Getty's collection pages."
[search-73AD10]: http://www.getty.edu/art/collection/search/?view=grid&query=YTo1OntzOjE3OiJfZGF0ZV9yYW5nZV9iZWdhbiI7czo1OiItNTAwMCI7czoxNzoiX2RhdGVfcmFuZ2VfZW5kZWQiO3M6NDoiMjAxNCI7czo4OiJfbnVtYmVycyI7czo4OiI3My5BRC4xMCI7czo0MToiKGlkZW50aWZpZXIucHJpbWFyeXxpZGVudGlmaWVyLmFsdGVybmF0ZSkiO3M6ODoiNzMuQUQuMTAiO3M6NDoic29ydCI7czo2OiItc2NvcmUiO30= "Search these items on the Getty's collection pages."
[8223]: http://www.getty.edu/art/collection/objects/8223 "View this item on the Getty's collection pages."
[8513]: http://www.getty.edu/art/collection/objects/8513 "View this item on the Getty's collection pages."
[124940]: http://www.getty.edu/art/collection/objects/124940 "View this item on the Getty's collection pages."
[124943]: http://www.getty.edu/art/collection/objects/124943 "View this item on the Getty's collection pages."
[124946]: http://www.getty.edu/art/collection/objects/124946 "View this item on the Getty's collection pages."
[124949]: http://www.getty.edu/art/collection/objects/124949 "View this item on the Getty's collection pages."
[124951]: http://www.getty.edu/art/collection/objects/124951 "View this item on the Getty's collection pages."
[124952]: http://www.getty.edu/art/collection/objects/124952 "View this item on the Getty's collection pages."
[124955]: http://www.getty.edu/art/collection/objects/124955 "View this item on the Getty's collection pages."
[124963]: http://www.getty.edu/art/collection/objects/124963 "View this item on the Getty's collection pages."
[124966]: http://www.getty.edu/art/collection/objects/124966 "View this item on the Getty's collection pages."
[125001]: http://www.getty.edu/art/collection/objects/125001 "View this item on the Getty's collection pages."
[search-98AD144]: http://www.getty.edu/art/collection/search/?view=grid&query=YTo1OntzOjE3OiJfZGF0ZV9yYW5nZV9iZWdhbiI7czo1OiItNTAwMCI7czoxNzoiX2RhdGVfcmFuZ2VfZW5kZWQiO3M6NDoiMjAxNCI7czo4OiJfbnVtYmVycyI7czo5OiI5OC5BRC4xNDQiO3M6NDE6IihpZGVudGlmaWVyLnByaW1hcnl8aWRlbnRpZmllci5hbHRlcm5hdGUpIjtzOjk6Ijk4LkFELjE0NCI7czo0OiJzb3J0IjtzOjY6Ii1zY29yZSI7fQ== "Search these items on the Getty's collection pages."
[6760]: http://www.getty.edu/art/collection/objects/6760 "View this item on the Getty's collection pages."
[6761]: http://www.getty.edu/art/collection/objects/6761 "View this item on the Getty's collection pages."
[6762]: http://www.getty.edu/art/collection/objects/6762 "View this item on the Getty's collection pages."
[search-82AD52]: http://www.getty.edu/art/collection/search/?view=grid&query=YTo1OntzOjE3OiJfZGF0ZV9yYW5nZV9iZWdhbiI7czo1OiItNTAwMCI7czoxNzoiX2RhdGVfcmFuZ2VfZW5kZWQiO3M6NDoiMjAxNCI7czo4OiJfbnVtYmVycyI7czo4OiI4Mi5BRC41MiI7czo0MToiKGlkZW50aWZpZXIucHJpbWFyeXxpZGVudGlmaWVyLmFsdGVybmF0ZSkiO3M6ODoiODIuQUQuNTIiO3M6NDoic29ydCI7czo2OiItc2NvcmUiO30= "Search these items on the Getty's collection pages."
[124950]: http://www.getty.edu/art/collection/objects/124950 "View this item on the Getty's collection pages."
[6559]: http://www.getty.edu/art/collection/objects/6559 "View this item on the Getty's collection pages."
[6601]: http://www.getty.edu/art/collection/objects/6601 "View this item on the Getty's collection pages."
[6800]: http://www.getty.edu/art/collection/objects/6800 "View this item on the Getty's collection pages."
[7209]: http://www.getty.edu/art/collection/objects/7209 "View this item on the Getty's collection pages."
[8467]: http://www.getty.edu/art/collection/objects/8467 "View this item on the Getty's collection pages."
[8468]: http://www.getty.edu/art/collection/objects/8468 "View this item on the Getty's collection pages."
