---
title: Ancient Terracottas from South Italy and Sicily
subtitle: in the J. Paul Getty Museum
layout: false
---
!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title= page_title
    = stylesheet_link_tag "application"
  %body
    .print-cover
    .print-halftitle
      %h1.cover-title= current_page.data.title
      %h2.cover-subtitle= current_page.data.subtitle
    .print-title-left
    .print-title-right
    .print-copyright
      :markdown
        The free, online edition of this catalogue, available at [http://www.getty.edu/publications/terracottas](http://www.getty.edu/publications/terracottas), includes zoomable high-resolution photography and a select number of 360° rotations; the ability to filter the catalogue by location, typology, and date; and an interactive map drawn from the Ancient World Mapping Center and linked to the Getty’s Thesaurus of Geographic Names and Pleiades. Also available are free PDF, EPUB, and MOBI downloads of the book; CSV and JSON downloads of the object data from the catalogue and the accompanying Guide to the Collection; and JPG and PPT downloads of the main catalogue images.

        © 2016 J. Paul Getty Trust

        [![Creative Commons License](cc-by.png)](http://creativecommons.org/licenses/by/4.0/)<br />
        This work is licensed under the Creative Commons Attribution 4.0 International License. To view a copy of this license, visit [http://creativecommons.org/licenses/by/4.0/](http://creativecommons.org/licenses/by/4.0/) or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042.

        **Published by the J. Paul Getty Museum, Los Angeles**<br />
        Getty Publications<br />
        1200 Getty Center Drive, Suite 500<br />
        Los Angeles, California 90049-1682<br />
        [www.getty.edu/publications](http://www.getty.edu/publications)

        Ruth Evans Lane, Benedicte Gilman, and Marina Belozerskaya, *Project Editors* <br />
        Robin H. Ray and Mary Christian, *Copy Editors* <br />
        Antony Shugaar, *Translator* <br />
        Elizabeth Chapin Kahn, *Production* <br />
        Stephanie Grimes, *Digital Researcher* <br />
        Eric Gardner, *Designer &#38; Developer* <br />
        Greg Albers, *Project Manager*

        Distributed in the United States and Canada by the University of Chicago Press<br />
        Distributed outside the United States and Canada by Yale University Press, London

        Printed in the USA
      .loc-cip
        :markdown
          Library of Congress Cataloging-in-Publication Data

          - Names: J. Paul Getty Museum, author, issuing body. \| Ferruzza, Maria Lucia, editor.
          - Title: Ancient terracottas from South Italy and Sicily in the J. Paul Getty Museum / Maria Lucia Ferruzza.
          - Description: Los Angeles : J. Paul Getty Museum, [2016] \| ©2016 \| Includes bibliographical references.
          - Identifiers: LCCN 2015042795 (print) \| LCCN 2015048344 (ebook) \| ISBN 9781606064863 (pbk.) \| ISBN 9781606064856 (epub) \| ISBN 9781606061237 (online)
          - Subjects: LCSH: Terra-cotta sculpture, Ancient&#8209;&#8209;Italy, Southern&#8209;&#8209;Catalogs. \| Terra-cotta sculpture, Ancient&#8209;&#8209;Italy&#8209;&#8209;Sicily&#8209;&#8209;Catalogs. \| J. Paul Getty Museum&#8209;&#8209;Catalogs. \| Terra-cotta sculpture&#8209;&#8209;California&#8209;&#8209;Los Angeles&#8209;&#8209;Catalogs.
          - Classification: LCC NB145 .J27 2016 (print) \| LCC NB145 (ebook) \| DDC 733/.309377--dc23
          - LC record available at [http://lccn.loc.gov/2015042795](http://lccn.loc.gov/2015042795)

        :markdown
          - Front cover: Thymiaterion Supported by a Statuette of Nike (detail, cat. 53)
          - Back cover: Group of a Seated Poet (Orpheus?) and Sirens (cats. 1–3)
          - pp. ii–iii: Fragment of a Head (detail, cat. 22)
          - p. vii: Statuette of a Mime (detail, cat. 29)
          - pp. 6–7: Head of a Woman (detail, cat. 51)
          - p. 214: Head and Torso of a Youth with Tarentine mold (detail, fig. 12)
    .print-toc
      %h1.page-title.centered Contents
      - pages       = sitemap.resources.find_all { |p| p.data.sort_order }
      - pages.sort_by! { |p| p.data.sort_order }

      - frontmatter = pages.find_all     { |p| p.data.sort_order < 8 }
      - backmatter  = pages.find_all     { |p| p.data.sort_order >= 100 }
      %ul
        - frontmatter.each do |p|
          - next if p.data.layout == "cover" || p.data.title == "Contents"
          - anchor = p.url.sub(%r{^/},"").chop
          %li.frontmatter
            = link_to p.data.title, "##{anchor}"
            - if p.data.author_full_name
              %p.toc-author= p.data.author_full_name
        %li
          = link_to "Catalogue", "#catalogue-intro"
          %ul.toc-regions
            %li= link_to "Taranto Region (Cats. 1–37)", "../print-catalogue/1/index.html"
            %li= link_to "Canosa (Cats. 38–46)", "../print-catalogue/38/index.html"
            %li= link_to "Medma (Cats. 47–48)", "../print-catalogue/47/index.html"
            %li= link_to "Other South Italy (Cats. 49–50)", "../print-catalogue/49/index.html#entry"
            %li= link_to "Sicily (Cats. 51–60)", "../print-catalogue/51/index.html"
        - backmatter.each do |p|
          - next if p.data.title == "About"
          %li
            = link_to p.data.title, "../#{p.destination_path}"
            - if p.data.author_full_name
              %p.toc-author= p.data.author_full_name
    .print-foreword#foreword
      - foreword = sitemap.find_resource_by_path("foreword.html")
      %h1.page-title= foreword.data.title
      %h3.page-author= foreword.data.author_full_name
      %article
        = foreword.render(:layout => false )
    .print-acknowledgments#acknowledgments
      - acknowledgments = sitemap.find_resource_by_path("acknowledgments.html")
      %h1.page-title= acknowledgments.data.title
      %article
        = acknowledgments.render(:layout => false )
      .bleed
    .print-introduction#introduction
      - introduction = sitemap.find_resource_by_path("introduction.html")
      %h1.page-title= introduction.data.title
      %article
        = introduction.render(:layout => false )
    .print-classification#classification
      - classification = sitemap.find_resource_by_path("classification.html")
      %h1.page-title= classification.data.title
      %article
        = classification.render(:layout => false )
    .print-production_techniques#production_techniques
      - production_techniques = sitemap.find_resource_by_path("production_techniques.html")
      %h1.page-title= production_techniques.data.title
      %article
        = production_techniques.render(:layout => false )
    .print-map#map
    .print-catalogue-intro-left#catalogue-intro
    .print-catalogue-intro-right
