---
title: Table of Contents
layout: Page
---
- data.contents.contents.each do |item|
  %li.toc-entry{ class: item.section? && "toc-section" }
    - if item.section?
      - if item.title?
        %h3
          = link_to item.title, "#{site_url}#{item.link}/"
    - else
      = link_to item.title, "#{site_url}#{item.link}/"
    - if item.author?
      %span.toc-entry-author= item.author
      %br
    - if item.contents
      %ul.toc-submenu
        - item.contents.each do |child|
          %li.toc-entry{ class: child.subsection? && "toc-subsection" }
            - if child.subsection?
              %h5
                = link_to child.title, "#{site_url}#{child.link}/"
            - else
              = link_to child.title, "#{site_url}#{child.link}/"
              - if child.author?
                %span.toc-entry-author= child.author
            - if child.contents
              %ul.toc-submenu
                - child.contents.each do |grandchild|
                  %li.toc-entry
                    = link_to grandchild.title, "#{site_url}#{grandchild.link}/"
