---
title: Catalogue
layout: application
catalogue: true
---
-# entry is the variable passed from #proxy method in config.rb
.panel-container
  / Left Panel
  .panel.panel-left
    .panel-inner
      - if entry[:meta][:rotation] == true
        #map{ :data => { :catalogue => entry[:info][:cat],
                         :rotation  => true,
                         :rheight   => entry[:meta][:rotation_height],
                         :rwidth    => entry[:meta][:rotation_height] }}
        = partial "modal"
      - else
        #map
  / Right Panel
  .panel.panel-right
    .panel-inner
      %article
        .object-header
          %h2.object-meta.mt2= entry[:info][:cat]
          %h1.object-title= entry[:info][:title]
          %h3.object-meta.mb3= entry[:info][:date]
          %h6
            %a.expand-all{href: "javascript:void(0);"} Expand All
        .object-content
          = partial(:object_details, :locals => { :entry => entry })
          - entry[:content].each do |key, value|
            - unless value.nil?
              .object-content-section.expander
                %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
                  %h3.pb1.mt1= key.capitalize
                .expander-content
                  = markdown value
          - if entry[:meta][:discussion]
            .object-content-section.expander
              %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
                %h3.pb1.mt1 Group Discussion
              .expander-content#discussion
                = find_discussion(entry)
